
<div class="form-group row" [ngClass]="{'scroll': gallery.length > 2}">
  <div class="col-lg-12">
    <div class="text-center p-2">
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="well my-drop-zone">
        <span *ngIf="uploader.options.queueLimit > 1">/s</span>
        <div class="gallery text-center">
          <div class="gallery--item" *ngFor="let img of gallery">
            <div class="gallery__img-wrapper">
              <div class="overlay" (click)="deleteImage(img)" tappable *ngIf="!onlyView">
                <div class="close">
                  X
                </div>

              </div>
              <img class="gallery__img" [src]="img.thumbnails.small.url"/>
            </div>
          </div>
        </div>
        <div class="text-center p-1 fileUpload" *ngIf="!hideInput && !onlyView">
          <input class="upload" type="file" ng2FileSelect [uploader]="uploader" (change)="upload($event)" #uploadImage/>
        </div>
        <div class="progress" *ngIf="!((uploader.progress === 100) || !uploader.progress)">
          <div class="progress-bar align-self-end" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
        <p *ngIf="fileError" class="label-error" margin-top style="color:red">{{fileError}}</p>
      </div>
    </div>
  </div>
</div>
