.form-group {
  &.scroll {
    overflow: scroll;
  }
  .gallery {
    display: flex;
    .gallery--item {
      margin-right: 15px;
      .gallery__img-wrapper {
        height: 150px;
        position: relative;
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          top:0;
          bottom:0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, .5);
          display: flex;
          .close {
            margin: auto;
            color: #fff;
            cursor: pointer;
            font-size: 40px;
          }
        }

        .gallery__img {
          width: 175px;
          height: 150px;
        }
      }
    }
  }
}

.fileUpload {
  margin-top: 25px;
  padding-bottom: 20px !important;
}
.well {
  background-color: #efefef;
  box-shadow: none;
}
