<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/login-register.png);position: absolute; width: 100%; z-index: 2;">
    <div class="login-box card">
      <div class="card-body">
        <form #heroForm="ngForm"  class="form-horizontal" id="loginform">
          <h3 i18n="@@forgot.pass.mobile" class="box-title m-b-20"> Indícanos tu número de móvil para que podamos reestablecer tu contraseña</h3>
          <div class="form-group ">
            <div class="col-xs-12">
              <input type="text" required placeholder="Introduce aquí tu número móvil" required="required" class="form-control"> </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button i18n="@@btn.send" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Enviar</button>
            </div>
          </div>
          <div class="form-group mb-0">
            <div class="col-sm-12">
              <a i18n="@@login.title" id="to-recover" class="text-dark" [routerLink]="['/login']"><i class="fa fa-user m-r-5"></i> Inicia Sesión</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>



