<aside class="left-sidebar" [ngbCollapse]="!isNavOpen" >
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">

      <ul id="sidebarnav">
        <li>
          <a routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}">
            <i class="mdi mdi mdi-gauge"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]="['/users']">
            <i class="mdi mdi-account-multiple"></i>
            <span class="hide-menu">Users</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
