<div id="main-wrapper">
  <ma-navigation [(openNavToggler)]="openNav"></ma-navigation>
  <ma-sidebar [isNavOpen]="openNav"></ma-sidebar>

  <div class="page-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer">
      © {{today | date:'y'}} WineryApp backoffice by <a href="https://kubide.es" target="_blank">Kubide</a>
    </footer>
  </div>
</div>
