<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-danger min-H">
      <div class="card-header d-flex justify-content-between">
        <h4 class="m-b-0 text-white">Dashboard</h4>
      </div>
      <div class="card-body">
        <div class="row m-t-20">

          <div class="col-lg-4 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-row">
                  <div class="round round-lg align-self-center round-info"><i class="mdi mdi-account-multiple"></i></div>
                  <div class="m-l-10 align-self-center" *ngIf="(usersHeaders$ | async) as users">
                    <h2 class="m-b-0 font-light">{{ users.total }}</h2>
                    <h5 class="text-muted m-b-0">Users</h5></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loadingData>
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
</ng-template>
