<div class="row">
  <ngb-alert (close)="closeAlert(error)" type="danger" *ngFor="let error of errors$ | async">
    {{ error.payload.error.error }} <br />
    {{ error.payload.message }}
  </ngb-alert>
</div>
