.btn-financiation{
  background: #bdd600 !important;
  border: #bdd600;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success.focus:active, .btn-success:active:focus, .btn-success:active:hover, .open > .dropdown-toggle.btn-success.focus, .open > .dropdown-toggle.btn-success:focus, .open > .dropdown-toggle.btn-success:hover, .btn-success.focus, .btn-success:focus {
  background: #bdd600;
  border: 1px solid #bdd600;
}

.success:focus {
  background: #bdd600;
  border: 1px solid #bdd600;
}

.btn-success, .btn-success.disabled {
  background: #bdd600;
  border: 1px solid #bdd600;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}


.img-financiation{
  max-height: 35px;
}

.nav-link {
  cursor: pointer;
  span {
    font-size: 14px;
    margin-right: 10px;
  }
}
