<header class="topbar" style="background: #441833;">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header hidden-xs-down">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="/assets/images/icon.png" alt="" class="logo hidden-sm-down" />
        <img src="/assets/images/isologo.png" alt="" class="icon logo hidden-md-up" />
      </a>
    </div>

    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto mt-md-0">
        <!-- This is  -->
        <li class="nav-item hidden-md-up">
          <a (click)="toogleNav()" class="clickable nav-link nav-toggler"><i class="mdi mdi-menu"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav my-lg-0">
        <li ngbDropdown class="nav-item dropdown" placement="bottom-right">
          <a class="nav-link dropdown-toggle text-muted" id="dropdownHeaderNavbar" ngbDropdownToggle>
            <span>{{user.name}}</span>
            <img src="../assets/images/face-default.png" alt="user" class="profile-pic">
          </a>
          <div class="dropdown-menu dropdown-menu-right scale-up" ngbDropdownMenu aria-labelledby="dropdownHeaderNavbar">
            <ul class="dropdown-user">
              <li><a [routerLink]="['/users', user.hash]"><i class="ti-user"></i> My Profile</a></li>
              <li role="separator" class="divider"></li>
              <li><a [routerLink]="['/logout']"><i class="fa fa-power-off"></i> Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
