/*
Template Name: Material Pro Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/**
 * Table Of Content
 *
 * 	1. Globals
 *	2. Headers
 *	3. Navigations
 *	4. Banners
 *	5. Footers
 *	6. app
 *	7. Widgets
 *	8. Custom Templates
 */

@import 'variable';
@import 'colors/blue';
@import 'app';
@import 'pages';
@import 'sidebar';
//@import 'icons/font-awesome/css/font-awesome.min.css';
//@import 'icons/simple-line-icons/css/simple-line-icons.css';
//@import 'icons/weather-icons/css/weather-icons.min.css';
//@import 'icons/linea-icons/linea.css';
//@import 'icons/themify-icons/themify-icons.css';
//@import 'icons/flag-icon-css/flag-icon.min.css';
//@import "icons/material-design-iconic-font/css/materialdesignicons.min.css";
@import 'widgets';
@import 'grid';
@import 'responsive';
@import 'material';
@import 'spinners';
@import 'animate.css';




.form-material .custom-select.is-invalid,
 .form-material .form-control.is-invalid,
 .form-material .was-validated .custom-select:invalid,
 .form-material .was-validated .form-control:invalid {
  background-image: linear-gradient(#263238, #263238), linear-gradient(#dc3545, #dc3545);
}

.clickable {
  cursor: pointer;
}

.fix-header .topbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.page-wrapper {
  padding-top: 150px;
  min-height: 100vh;
}

.navbar-brand img {
  max-height: 50px;
}


@media (max-width:768px) {
  .page-wrapper {
    padding-top: 100px;
  }

}
