// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//  Colour Palette
//  This is the primary and secondary colour palettes as described in the styleguide
//

$primaryFont: 'GillSans';
$secondaryFont: 'Futura';

$primaryColor: #E94B5E;
$whiteColor: #FFFFFF;
$darkColor: #1E242B;
$darkColorTransp: rgba(30, 36,43, 0.73);
$greyColor: #9B9B9B;

$primaryColorHover: #C63F4F;
$primaryColorDeactivated: #EC6575;

$blueColor: #55C0E9;
$mustardColor: #F6BE46;
$aquaColor: #92CBA9;
$orangeColor: #EF7C3B;


$fontSmall: 14px;
$fontBase: 18px;
$fontL:20px;
$fontXL: 26px;
$fontXXL: 30px;

$iconFont: 45px;
