<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-danger min-H">
      <div class="card-header d-flex justify-content-between">
        <h4 class="m-b-0 text-white">Users</h4>
        <div>
          <button class="btn btn-warning m-r-20" type="button" (click)="exportCSV('User')"> Export CSV</button>
          <button class="btn btn-primary" type="button" [routerLink]="['new']"> New user</button>
        </div>

      </div>

      <div class="card-body">

        <div class="row mb-3">
          <div class="input-group col-4">
            <input type="text" class="form-control" placeholder="Search" (input)="onSearchChange($event)" >
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>

        <div class="table-responsive" *ngIf="!(usersUpdating$ | async) else loadingData" >
          <table class="table table-bordered" *ngIf="(users$ | async).length else noData">
            <thead>
            <tr>
              <th (click)="fieldSort('name')" class="clickable">Name
                <i class="fa" [ngClass]="{'fa-sort': sortField != 'name',
               'fa-sort-asc': ( sortField == 'name' && sortOrder), 'fa-sort-desc': (sortField == 'name' && !sortOrder)}">
              </i>
              </th>
              <th (click)="fieldSort('email')" class="clickable">Email
                <i class="fa" [ngClass]="{'fa-sort': sortField != 'email',
               'fa-sort-asc': ( sortField == 'email' && sortOrder), 'fa-sort-desc': (sortField == 'email' && !sortOrder)}">
              </i>
              </th>
              <th (click)="fieldSort('role')" class="clickable">Role
                <i class="fa" [ngClass]="{'fa-sort': sortField != 'role',
               'fa-sort-asc': ( sortField == 'role' && sortOrder), 'fa-sort-desc': (sortField == 'role' && !sortOrder)}">
              </i>
              </th>
              <th (click)="fieldSort('createdAt')" class="clickable">Created
                <i class="fa" [ngClass]="{'fa-sort': sortField != 'createdAt',
               'fa-sort-asc': ( sortField == 'createdAt' && sortOrder), 'fa-sort-desc': (sortField == 'createdAt' && !sortOrder)}">
              </i>
              </th>
              <th (click)="fieldSort('updatedAt')" class="clickable">Updated date
                <i class="fa" [ngClass]="{'fa-sort': sortField != 'updatedAt',
               'fa-sort-asc': ( sortField == 'updatedAt' && sortOrder), 'fa-sort-desc': (sortField == 'updatedAt' && !sortOrder)}">
              </i>
              </th>
            </tr>
            </thead>
            <tbody *ngFor="let user of (users$ | async)">
            <tr>
              <td [routerLink]="['/users', user.hash]" style="cursor: pointer">
                <a routerLinkActive="active" [routerLink]="['/users', user.hash]">
                {{user.name}}
                </a>
              </td>
              <td>{{user.email}}</td>
              <td>not-role (terminar)</td>
              <td>{{ user.createdAt | date:'MMM d, y' }} </td>
              <td>{{ user.updatedAt | date:'MMM d, y' }} </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mx-auto" *ngIf="(users$ | async).length && (usersHeaders$ | async) as headers">
        <div class="col-12 text-center">
          <h5>Mostrando  {{ Math.min(headers.total, headers.page * headers.limit) }} usuarios de un total de {{ headers.total }} entradas</h5>
          <ngb-pagination class="d-inline-block" (pageChange)="newPage($event)" [collectionSize]=headers.total [page]=headers.page [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingData>
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
</ng-template>

<ng-template #noData>
  <div class="col text-center">
    <h2>No hay resultados que mostrar</h2>
  </div>
</ng-template>

