<h3 class="box-title">System</h3>
<hr class="m-t-0 m-b-40">
<div class="row">
  <div class="col-lg-6">
    <div class="form-group row">
      <label class="control-label text-lg-right col-lg-3">Hash:</label>
      <div class="col-lg-9">
        <p class="form-control-static">Pending</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="form-group row">
      <label class="control-label text-lg-right col-lg-3">Created:</label>
      <div class="col-lg-9">
        <p class="form-control-static">Pending</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group row">
      <label class="control-label text-lg-right col-lg-3">Updated:</label>
      <div class="col-lg-9">
        <p class="form-control-static">Pending</p>
      </div>
    </div>
  </div>
</div>
