<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/general-images/bg-register.jpg); position: absolute; width: 100%; z-index: 2;">
    <div class="login-box card">
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm" class="form-horizontal" id="loginform">
          <h3 i18n="@@login.title" class="box-title m-b-20"> Inicia Sesión</h3>
          <div class="form-group ">
            <div class="col-xs-12" [ngClass]="{'has-danger' : (loginForm.get('userName')?.touched || isSubmitLoginForm) && !loginForm.controls['userName'].valid}">
              <input formControlName="userName"  type="text"  class="form-control" required="required" placeholder="Name de usuario">
              <p class="text-danger" *ngIf="(loginForm.get('userName')?.touched || isSubmitLoginForm) && !loginForm.controls['userName'].valid">
                <span i18n="@@form.required" *ngIf="loginForm.controls['userName'].hasError('required')">Este campo es requerido.</span>
              </p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12" [ngClass]="{'has-danger' : (loginForm.get('pass')?.touched || isSubmitLoginForm) && !loginForm.controls['pass'].valid}">
              <input formControlName="pass"  type="password" class="form-control" required="required" placeholder="Contraseña"> </div>
            <p class="text-danger" *ngIf="(loginForm.get('pass')?.touched || isSubmitLoginForm) && !loginForm.controls['pass'].valid">
              <span i18n="@@form.required" *ngIf="loginForm.controls['pass'].hasError('required')">Este campo es requerido.</span>
            </p>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <div>
                <input formControlName="remember" type="checkbox"class="filled-in chk-col-deep-info" id="remember">
                <label i18n="@@login.remember" for="remember">Recordarme</label>
              </div>
            </div>
          </div>
          <div class="form-group text-center mt-20">
            <div class="col-xs-12">
              <button i18n="@@form.enter.btn" [disabled]="isSettingLogin" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">
                <!--<i class="fa fa-spinner fa-spin mr-2"></i>-->
                Entrar
              </button>
              <p class="text-danger text-center" *ngIf="errorLogin">
                <span i18n="@@auth.fail">Fallo en la autenticación.</span>
              </p>
            </div>
          </div>

          <div class="form-group mb-0">
            <div class="col-sm-12">
              <a i18n="@@login.forgot.pass" id="to-recover" class="text-dark my-2" [routerLink]="['/login/forgot-pass']"><i class="fa fa-lock m-r-5"></i> ¿Olvidaste tu contraseña?</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</section>
