<div class="row">
  <div class="col">
    <div class="card card-outline-danger">
      <div class="card-header">
        <h4 class="m-b-0 text-white">Nuevo contacto</h4>
      </div>
      <div class="card-body">

        <form class="form-horizontal form-material" [formGroup]="createForm" (ngSubmit)="onSubmit()" #formRef="ngForm" novalidate>
          <div class="form-body">
            <h3 class="box-title">Data</h3>
            <hr class="m-t-0 m-b-40">
            <!-- Edit data -->
            <div class="row">
              <div class="form-group col-md-4">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
                <!-- Todo: dynamic errors custom and formSend-->
                <p
                  class="label-error"
                  *ngIf="( (!formRef.form.valid)
                || createForm.controls['name'].dirty )
                && !createForm.controls['name'].valid">
                  <span *ngIf="createForm.controls['name'].hasError('required')">This field is required.</span>
                  <span *ngIf="createForm.controls['name'].hasError('timeFormat')">The format must be HH:MM.</span>
                  <span *ngIf="createForm.controls['name'].hasError('dateFormat')">The format must be MM/DD/YYYY.</span>
                  <span *ngIf="createForm.controls['name'].hasError('yearFormat')">The format must be YYYY.</span>
                </p>
              </div>
              <div class="form-group col-md-4">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" placeholder="Enter surname" formControlName="surname">
              </div>
              <div class="form-group col-md-4">
                <label for="birthdate">Birthdate</label>
                <input type="text" class="form-control" id="birthdate" placeholder="Enter birthdate" formControlName="birthdate">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Enter email" formControlName="email">
              </div>
              <div class="form-group col-md-4">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="Enter phone" formControlName="phone">
              </div>
              <div class="form-group col-md-4">
                <label for="fax">Fax</label>
                <input type="text" class="form-control" id="fax" placeholder="Enter fax" formControlName="fax">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-5">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" placeholder="Enter password" formControlName="password">
              </div>
              <div class="form-group col-md-5">
                <label for="confirm_password">Confirm Password</label>
                <input type="text" class="form-control" id="confirm_password" placeholder="Enter confirm password" formControlName="confirm_password">
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-secondary float-right" (click)="showPass()"> <i class="fa fa-eye"></i> Show password</button>
              </div>
            </div>

            <div class="row m-t-10">
              <div class="form-group col-md-12">
                <label for="company_name">Company name</label>
                <input type="text" class="form-control" id="company_name" placeholder="Enter company name" formControlName="company_name">
              </div>
            </div>

            <!--<div *ngIf="field.type === 'text' || field.type === 'number' || field.type === 'date'  || field.type === 'time'">-->
              <!--<input-->
                <!--type="{{ field.type }}"-->
                <!--class="input-text"-->
                <!--formControlName="{{ field.formControlName }}"/>-->
              <!--<ion-icon [name]="field.icon" *ngIf="field?.icon" class="icon-prepend"></ion-icon>-->
              <!--<p-->
                <!--class="label-error"-->
                <!--*ngIf="( (!formDynamicRef.form.valid && isFormSubmit)-->
                <!--|| formDynamic.controls[ field.formControlName ].dirty )-->
                <!--&& !formDynamic.controls[ field.formControlName ].valid">-->
                <!--<span *ngIf="formDynamic.controls[ field.formControlName ].hasError('required')">This field is required.</span>-->
                <!--<span *ngIf="formDynamic.controls[ field.formControlName ].hasError('timeFormat')">The format must be HH:MM.</span>-->
                <!--<span *ngIf="formDynamic.controls[ field.formControlName ].hasError('dateFormat')">The format must be MM/DD/YYYY.</span>-->
                <!--<span *ngIf="formDynamic.controls[ field.formControlName ].hasError('yearFormat')">The format must be YYYY.</span>-->
              <!--</p>-->
            <!--</div>-->

            <div class="row m-t-15">
              <div class="col-md-6">
                <h3 class="box-title">Shipping address</h3>
                <div class="form-group col-md-12">
                  <label for="address_shipping">Address</label>
                  <input type="text" class="form-control" id="address_shipping" placeholder="Enter address" formControlName="address_shipping">
                </div>
                <div class="form-group col-md-12">
                  <label for="postal_code_shipping">Postal code</label>
                  <input type="text" class="form-control" id="postal_code_shipping" placeholder="Enter postal code" formControlName="postal_code_shipping">
                </div>
                <div class="form-group col-md-12">
                  <label for="city_shipping">City</label>
                  <input type="text" class="form-control" id="city_shipping" placeholder="Enter city" formControlName="city_shipping">
                </div>
                <div class="form-group col-md-12">
                  <label for="country_shipping">Country</label>
                  <input type="text" class="form-control" id="country_shipping" placeholder="Enter country" formControlName="country_shipping">
                </div>
              </div>
              <div class="col-md-6">
                <h3 class="box-title">Billing address</h3>
                <div class="form-group col-md-12">
                  <label for="address_billing">Address</label>
                  <input type="text" class="form-control" id="address_billing" placeholder="Enter address" formControlName="address_billing">
                </div>
                <div class="form-group col-md-12">
                  <label for="postal_code_billing">Postal code</label>
                  <input type="text" class="form-control" id="postal_code_billing" placeholder="Enter postal code" formControlName="postal_code_billing">
                </div>
                <div class="form-group col-md-12">
                  <label for="city_billing">City</label>
                  <input type="text" class="form-control" id="city_billing" placeholder="Enter city" formControlName="city_billing">
                </div>
                <div class="form-group col-md-12">
                  <label for="country_billing">Country</label>
                  <input type="text" class="form-control" id="country_billing" placeholder="Enter country" formControlName="country_billing">
                </div>
              </div>
            </div>


            <!-- Show data: input data -->
            <app-show-user-data></app-show-user-data>
          </div>

          <!-- Actions buttons -->
          <div class="form-actions mb-3">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" [ladda]="(usersUpdating$|async)" class="btn btn-success"> <i class="fa fa-check"></i> Enviar</button>
                <p class="text-danger" *ngIf="error">{{ error }}</p>
              </div>
              <div class="col-md-6">
                <button class="btn btn-secondary float-right" type="button" (click)="goBack()"> <i class="fa fa-arrow-left"></i> Go back</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
