<div class="anti-header container">
  <div class="row">
    <div class="col-12 text-center">
      <h2><b>¡Ups!</b></h2>
      <h2><b>Lo sentimos, ha ocurrido un error</b></h2>
      <img class="i" src="assets/images/404.png"/>
    </div>
    <button [routerLink]="['/']" class="btn-primary m-b-40 mx-auto">HOME</button>
  </div>
</div>
